@{
    ViewData["Title"] = "Home Page";

}

<div id="container_Main">

<h2>Chat Messages</h2>


</div>
<div class="chat-popup" id="myForm">
  
  <div class="form-container">
        <div class='loading hidden'>
     <img src='/img/ai.png' alt='HeaderImg'>
     <img src='/img/input.gif' alt='LoadingImg'>
    </div>
        <textarea placeholder="Type message..." class="msg" name="msg" required></textarea>
        <button type="submit" class="btn" onclick="submitForm()">Send</button>
  </div>
</div>

<script>
    var questionerImgIndex = '@ViewBag.QuestionerImgIndex';
</script>


